{% extends "base" %}
{% block body %}
<h1>{{ title }}</h1>
<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
      aria-describedby="title" name="title" placeholder="enter your title here">
    </div>
    <button id="submitDeck" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</script>
{% endblock body %}
